<div class="session-new-container">
  <% provide(:title, "Log in") %>
  <div class="session-new-page banner">
    Log in
  </div>
  <% if flash[:notice] %>
    <div class="session-new-page notice"><%= flash[:notice] %></div>
  <% end %>

  <div class="row session-new-social-login">
    <div class="col-md-6 col-md-offset-5 social-login facebook">
      <fb:login-button scope="public_profile,email" onlogin="checkLoginStateAndRedirect();">
      </fb:login-button>
      <div class="social-login-head">Log on through facebook</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit "Log in", class: "btn btn-primary submit" %>
      <% end %>

      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  </div>
</div>
