<% content_for :customJs do %>

  <script src="https://tinymce.cachefly.net/4.2/tinymce.min.js"></script>
  <script src="js/dropzone.js"></script>
  <script>
    tinymce.init({selector:'#editor1',
      menubar: false,
      plugins: 'autoresize image',
      autoresize_min_height: '300px',
      autoresize_max_height: '2000px',
      statusbar: false,
      image_dimensions: false,
      toolbar1: "bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
      style_formats: [
      {title: 'Bold text', inline: 'b'},
      {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
      {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
      {title: 'Example 1', inline: 'span', classes: 'example1'},
      {title: 'Example 2', inline: 'span', classes: 'example2'},
      {title: 'Table styles'},
      {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
      ],
      content_css : "css/tinymce.css, https://fonts.googleapis.com/css?family=Roboto+Slab:400,300"
    });
  </script>
<% end %>

<div class="banner">
  <%= render "/ct_controller/topnav" %>
  <br><br>
  
  
  
  
  
  <div class="parent-null">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      
      <div style="display: <%= @saved_story.blank? ? "none" : "block" %>">
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           You are editing your last saved draft. <span></span><strong><a href="#" id="discard-story">Click Here</a></strong></span> to disacrd this and start a new story.
        </div>
        <br>
      </div>
      
      
      <div class="banner-bottom left-right-margin">
        <div class="row bs-wizard" style="border-bottom:0;">
          <div class="col-xs-3 bs-wizard-step active" id="0">
            <div class="text-center bs-wizard-stepnum">Trip Title</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#one" class="bs-wizard-dot" aria-controls="one" id="0" role="tab" data-toggle="tab"><div class="bs-wizard-dot"></div></a>
          </div>
          <div class="col-xs-3 bs-wizard-step disabled" id="1">
            <div class="text-center bs-wizard-stepnum">Trip Location</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#two" class="bs-wizard-dot" aria-controls="two" id="1" role="tab" data-toggle="tab"><div class="bs-wizard-dot"></div></a>
          </div>
          <div class="col-xs-3 bs-wizard-step disabled" id="2"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Trip Pictures</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#three" class="bs-wizard-dot" aria-controls="three" id="2" role="tab" data-toggle="tab"><div class="bs-wizard-dot"></div></a>
          </div>
          <div class="col-xs-3 bs-wizard-step disabled" id="3"><!-- complete -->
            <div class="text-center bs-wizard-stepnum">Trip Story</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#four" class="bs-wizard-dot" aria-controls="four" id="3" role="tab" data-toggle="tab"><div class="bs-wizard-dot"></div></a>
          </div>
        </div>
      </div>
      <br><br>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div style="display:none">
  <a href="#one" aria-controls="one" id="0" role="tab" data-toggle="tab"></a>
  <a href="#two" aria-controls="one" id="0" role="tab" data-toggle="tab"></a>
  <a href="#three" aria-controls="one" id="0" role="tab" data-toggle="tab"></a>
  <a href="#four" aria-controls="one" id="0" role="tab" data-toggle="tab"></a>
  <a href="#five" aria-controls="one" id="0" role="tab" data-toggle="tab"></a>
</div>

<div class="parent-null">
  <div class="col-md-3"></div>
  <div class="col-md-6 blog-text">
    <div class="tab-content" storyid="<%= @saved_story.blank? ? "" : blank_on_nil(@saved_story.story_id) %>">
      <div role="tabpanel" class="tab-pane fade in active" id="one"> 
        <div class="center-align-place">
          <h3>Give Your Trip a Great Title</h3> <br>
          <input type="text" class="one-line-input title" value="<%= @saved_story.blank? ? "" : blank_on_nil(@saved_story.title) %>">
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="two"> 
        <div class="center-align-place">
          <h3>Where Was You Trip</h3> <br>
          Include Your Trip Location
          <input type="text" class="one-line-input location" value="<%= @saved_story.blank? ? "" : blank_on_nil(@saved_story.place) %>">
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="three">
        <form action="/fileUploader" class="dropzone" name="adiFileDrop">
          <div class="dz-message" data-dz-message><span><h3>Drop pictures here or Click to upload</h3></span></div>
          <input type="hidden" name="userId" value="null" />
        </form>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="four">
        <div class="center-text">
          <textarea name="editor1" id="editor1" value="<%= @saved_story.blank? ? "" : blank_on_nil(@saved_story.story) %>"></textarea>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="five">
        <div class="center-text">
          You have successfully submitted the story. We will publish post a review and notify you.
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3"></div>
</div>


<div class="fixedbutton">
  <button type="button" class="btn share-btn" id="back" style="margin-right:75px; display:none">
    <span aria-hidden="true"></span> Back
  </button>

  <button type="button" class="btn share-btn" id="draft" style="margin-right:75px; display:none">
    <span aria-hidden="true"></span> Save Draft
  </button>

  <button type="button" class="btn share-btn" style="display:relative" id="next">
    <span aria-hidden="true"></span> Next
  </button>
</div>


<script>
  $(document).ready(function() {
    
    
    
    $(".bs-wizard-dot").click(function(){
      
      if($.cookie("login") == "0"){
        $("#signinpop").click();
        return;
      }
      
      var currentTabId = $(".bs-wizard-step.active").attr('id');
      var currentTabNo = parseInt(currentTabId);
      var storyId = $('div[storyid]').attr('storyid');
      switch(currentTabNo){
        case 0:
            var titleText = $(".one-line-input.title").val();
            var dataParam = "title="+titleText+"&storyid="+storyId;
            console.log(dataParam);
            $.ajax({
              type: "POST",
              url: "/titleUploader",
              data: dataParam,
              dataType: 'json'
            });
            break;
        case 1:
            var placeText = $(".one-line-input.location").val();
            var dataParam = "place="+placeText+"&storyid="+storyId;
            console.log(dataParam);
            $.ajax({
              type: "POST",
              url: "/placeUploader",
              data: dataParam,
              dataType: 'json'
            });
            break;
        case 2:
            break;
        case 3:
          storyText = tinyMCE.activeEditor.getContent();
            var dataParam = "story="+storyText+"&draft=1"+"&storyid="+storyId;
            $.ajax({
              type: "POST",
              url: "/storyUploader",
              data: dataParam,
              dataType: 'json'
            });
            break;
        case 4:
      }
      
      
      var selectId = $(this).attr('id');
      var sel = $(".bs-wizard-step");
      sel.each( function(){
      if($(this).attr('id') < selectId){
            $(this).removeClass('active');
            $(this).removeClass('disabled');
            $(this).addClass('complete');
      }

      if($(this).attr('id') == selectId){
            $(this).removeClass('complete');
            $(this).removeClass('disabled');
            $(this).addClass('active');
      }

      if($(this).attr('id') > selectId){
            $(this).removeClass('complete');
            $(this).removeClass('active');
            $(this).addClass('disabled');
      }
    });
    
    
    selectNo = parseInt(selectId)
      switch(selectNo){
            case 0:
              $("#draft").hide();
              $("#back").hide();
              $("#next").text("Next");
              $("#next").show();
              return true;
            case 1: 
              $("#draft").hide();
              $("#back").show();
              $("#next").text("Next");
              $("#next").show();
              return true;
            case 2:
              $("#draft").hide();
              $("#back").show();
              $("#next").text("Next");
              $("#next").show();
              return true;
            case 3:
              $("#draft").show();
              $("#back").show();
              $("#next").text("Submit");
              if($("#editor1").attr('value')){
                tinyMCE.get('editor1').setContent($("#editor1").attr('value'));
              }
              $("#next").show();
              return true;
            
              
         }
    
});
    
    $("#discard-story").click(function(){
      $(".close").click();
      var storyId = $('div[storyid]').attr('storyid');
      var dataParam = "storyid="+storyId;
            console.log(dataParam);
            $.ajax({
              type: "POST",
              url: "/discardStory",
              data: dataParam,
              dataType: 'json'
              
            }).done(
              function(){ 
                
            });
            $('div[storyid]').attr('storyid', "");
            $(".one-line-input.title").val("");
            tinyMCE.get('editor1').setContent("");
            $(".one-line-input.location").val("");
           
    });
    
    $("#next").click(function(){
      // This should go away, we should call the login api to check
      // if there is a user logged in already or not.
      
      var currentTabId = $(".bs-wizard-step.active").attr('id');
      var currentTabNo = parseInt(currentTabId);
      var nextTabNo = currentTabNo + 1;
      if(nextTabNo == 4){
        $(".banner-bottom.left-right-margin").hide();
        $("a[href=#five]").click();
        $("#next").hide();
        $("#draft").hide();
        $("#back").hide();
      }
      var selector = "#"+nextTabNo+".bs-wizard-dot"
      $(selector).click();

    }); 
    
    $("#back").click(function(){
      var currentTabId = $(".bs-wizard-step.active").attr('id');
      var currentTabNo = parseInt(currentTabId);
      var nextTabNo = currentTabNo - 1;
      var selector = "#"+nextTabNo+".bs-wizard-dot"
      $(selector).click();
      

    }); 

    $("#draft").click(function(){
      var storyId = $('div[storyid]').attr('storyid');
      storyText = tinyMCE.activeEditor.getContent();
      var dataParam = "story="+storyText+"&draft=1"+"&storyid="+storyId;
      $.ajax({
        type: "POST",
        url: "/storyUploader",
        data: { story: storyText ,
          draft: 1
        },
        dataType: 'json'
      });
    });

    
  });
</script>
