<div class="banner">
  <div class="banner-infoa">
    <%= render "/ct_controller/topnav" %>
    <div class="man">
      <br><br>
      <h3> <b>A COMMUNITY FOR LOVERS WHO TRAVEL </b></h3>
      <a href="./share.html">    <Button class="gradient btn-primary top-button">Share Your Trip</Button> </a>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="banner-bottom left-right-margin">
    <div class="bottom-grids">
      <% @story_array.each do |story| %>
        <div class="col-md-3">
          <div class="photo" style="background:url('<%= story.image %>'); background-size: cover">
            <a href="/places/<%= story.location %>_<%= story.id %>.html" class="fill-div">
              <div class="place-title <%= ((get_tile_title(story).include? '<br>') ? "place-title-2" : "") %>"><%= get_tile_title(story).html_safe %></div>
            </a>
          </div>
        </div>
      <% end %>
      <div class="clearfix"></div>
    </div>
      
      <hr class="section-divide"> </hr>
     
    <div class="bottom-grids"> 
      <% @user_array_2.each do |user| %>
        <div class="col-md-3">
          <div class="photo" style="background:url('<%= get_user_tile_image (user) %>'); background-size: cover">
            <a href="/user/<%= user.id %>" class="fill-div">
              <div class="place-title <%= (user.name.include? '<br>') ? "place-title-2" : "" %>"><%= user.name.upcase.html_safe %></div>
            </a>
          </div>
        </div>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<!-- Modal -->


